# ===============================
# Java / Spring Boot
# ===============================
target/
*.log
*.class
*.jar

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
out/

# ===============================
# Maven
# ===============================
.mvn/wrapper/maven-wrapper.jar

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment Files
# ===============================
.env
application.properties
application.yml
